<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auto Auction</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <div class="row">
      <div class="col-4">
          <span class="menu-button" onclick="openNav()"> &#9776; </span>
      </div>
      <div class="col-4">
        <h1>
          Auto Auction
        </h1>
      </div>
      <div class="col-4 search">
        <form class="search-form" action="submit">
          <input class="search-box" type="text" placeholder="Search by make">
          <button type="submit" id="search-submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </button>
        </form>
      </div>
    </div>
   

    {{!-- side navigation --}}
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/about">About</a>
      <a href="/">Auction Gallery</a>
      {{#unless logged_in}}
      <a href="/login">Login</a>
      {{/unless}}
      <!-- Only display the logout button if the user is logged in -->
      {{#if logged_in}}
      <nav>
        <a href="/profile">My Profile</a>
        <a class="btn" id="logout">logout</a>
      </nav>
      {{/if}}
    </div>
  </header>
  <div class="bg">
    <div class="blur">
      <main class="container">
        {{{ body }}}
      </main>
    </div>
  </div>
  
    <!-- Only include the logout script if the user is logged in -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    <script src="/js/sidenav.js"></script>
    <script src="/js/searchListings.js"></script>
</body>

</html>