<div class="text-center">
  <h2>About</h2>
  <p>Welcome to Auto-Auction. This is an online space where anyone can post or bid on listings for cars. No need for
    credit card information as in future development once you win a listing you'll be sent the seller's contact
    information.</p>
</div>