body {
  margin: 0;
}

/* header */
header {
  padding: 0px;
}

h1 {
  margin: 0%;
  color: white;
  text-align: center;
  background-image: linear-gradient(to right, rgb(201, 45, 45), #320000);
  font-size: 45px;
  padding: 20px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  width: 100%;
}

.search-form {
  padding-top: 20px;
}

.menu-button {
  padding-left: 20px;
}

.col-md-3:hover {
  background: rgba(0, 0, 0, 0.566);
  color: white;
}

.col-md-3:hover .price {
  visibility: hidden;
}

.col-md-3:hover .view-listing {
  visibility: visible;
}

.view-listing {
  visibility: hidden;
}

.col-md-3 {
  padding-top: 20px;
  margin-top: 20px;
  margin-right: 30px;
  margin-left: 30px;
  background: linear-gradient(-45deg, #7FCEC5, #14557B);
  border-radius: 25px;
  text-align: center;
  border: black 5px;
}

.col-md-3 a {
  color: white;
  text-decoration: none;
}

.col-md-3:hover .remaining-time {
  font-size: larger;
  color: red;
}

img {
  max-width: 100%;
  max-height: 100%;
}


/* sidebar menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -24px;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-left: 20px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.menu-button {
  font-size: large;
  font-size: 50px;
  cursor: pointer;
}

#action-bar {
  background-color: grey;
}

#gallery {
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
}

.search-box {
  border-radius: 10px;
}

#search-submit {
  border-radius: 10px;
}

#search-submit:hover {
  background-color: rgb(66, 66, 66);
  color: white;
}

h2 {
  text-align: center;
  padding-top: 10px;
}

.active,
.collapsible:hover {
  background-color: #555;

}

.content {
  display: none;
  overflow: hidden;
  width: 80%;
  margin: 40px auto;
  border: 5px solid gray;
  box-shadow: 5px 10px #888888;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: relative;
  color: rgb(104, 8, 29);
  font-weight: bold;
  font-size: 28px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  left: 42%;
  border-radius: 3px 0 0 3px;
}

.prev {
  right: 42%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}